MONGODB_URL=mongodb://127.0.0.1:27017/highschool
NODE_ENV=development
PORT=5005
HOST=0.0.0.0
JWT_SECRET=super_secret_key
JWT_ACCESS_EXPIRES_IN=7d

REDIS_URL=redis://127.0.0.1:6379
OTP_TTL_SECONDS=300
OTP_MAX_VERIFY_ATTEMPTS=5
OTP_MAX_RESEND=3
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_LENGTH=4

SMS_BASE_URL=http://sms.moon.mr:8008
SMS_SEND_PATH=/api/sendsms
SMS_STATISTICS_PATH=/api/sms-statistics
SMS_AUTH_TOKEN=YOUR_TOKEN_HERE
SMS_INCLUDE_TEST_WORD=false

USE_S3=false
AWS_REGION=eu-west-3
AWS_S3_BUCKET=your-bucket
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
PUBLIC_BASE_URL=http://localhost:5005
